ant-deploy.xml
build/
build.xml
build-impl.xml
*.class
dist/
*.ear
empty/
genfiles.properties
generated-sources
!lib/
*.MF
nbproject/
*.jar
*.war
private.properties
private.xml
project.properties
project.xml
test/
*.bak
